body
  //padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF
.container
  padding-top: 15px
.actions .btn
  margin-left: 3px
  margin-right: 3px
.actions .btn:first-child
  margin-left: 0px
.table-row
  margin-top: 5px


@media print
  .no-print, .no-print *
    display: none !important